<server>
    <featureManager>
        <feature>jsp-2.3</feature>
        <feature>monitor-1.0</feature>
    </featureManager>
    
    <httpEndpoint httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint" />
    
    <webApplication id="libertymon-servlet" location="libertymon-servlet.war" name="libertymon-servlet"/>
    
    <webContainer deferServletLoad="false" />
    
    <logging traceSpecification="*=info:com.example.liberty.*=all" maxFileSize="250" maxFiles="4" />
</server>
